@import url('normalize.css');

.container {
  background-color: #FACD3D;
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
  gap: 3px;
  max-width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
h1 {
  color: #E60576;
}
h2 {
  color: #2CCCC3;
}
ul li {
  list-style-type: none;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  background-color: #1A1A1B;
}
p,
li {
  line-height: 1.5;
}
header,
main {
  background-color: #000000;
}
nav {
  background-color: #5626C4;
  grid-area: nav;
}
footer {
  background-color: #000000;
  color: #FFFFFF;
  grid-area: footer;
}
header,
main,
footer {
  padding: 0px 15px;
}
header {
  grid-area: header;
  padding-top: 10px;
  padding-bottom: 10px;
}
main {
  grid-area: main;
}
footer p {
  margin-top: 8px;
  margin-bottom: 8px;
}
a {
  color: #2CCCC3;
  text-decoration: none;
}
a[href]:hover {
  text-decoration: underline;
}
nav ul {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
nav li + li {
  border-top: 1px solid #FACD3D;
}
nav a {
  text-align: center;
  color: #FFFFFF;
  display: block;
  padding: 0.5rem 0;
}
nav a:not([href]) {
  color: #2CCCC3;
}

#me {
  max-width: 75%;
  max-height: 100%;
  height: auto;
}
#logo {
  max-height: 4em;
  max-width: 100%
  width: auto;
}
#cv,
#skills,
#img,
#index {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
#header {
  display: grid;
  grid-template-columns: 1fr max-content;
}

@media screen and (min-width: 490px) {
  header,
  nav,
  main,
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  main {
    padding-right: 30px;
  }
  nav li + li {
    border-top: none;
  }
  nav ul {
    flex-direction: row;
  }
  nav a {
    padding: 8px 10px;
  }

  #cvImage {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 840px) {
  .container {
    display: grid;
    grid-template-columns: 20ch 1fr;
    grid-template-areas:
      'header header '
      'nav    main   '
      'nav    main   '
      'footer footer ';
  }

  nav ul {
    flex-direction: column;
    padding-top: 15px;
  }
  nav li:last-of-type {
    margin-left: 0;
  }

  #over_ons {
    display: grid;
    padding-right: 20px;
    grid-template-columns: 1fr min-content;
    gap: 10px;
  }
  #over_ons aside {
    border-left: 1px #FACD3D solid;
    padding: 0 7px;
  }
  #grid {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  #grid aside {
    display: flex;
    justify-content: center;
  }
  #images {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 30px;
  }
}